{
  "extends": ["../.eslintrc"],
  "ignorePatterns": [ ".next/", "node_modules/", "out/" ],
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "react/no-danger": "warn"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "components": "./components",
          "lib": "./lib",
          "styles": "./styles"
        },
        "root": ["."]
      }
    }
  }
}