@import '../../styles/colors.scss';

.footer {
  background-color: $darkBlue;
  margin-top: 6rem;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.text {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;

  a {
    text-decoration: underline;
  }

  p {
    margin: 0;
  }
}
